<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a th:href="@{/}">Home Page</a>
    <p></p>
    <table border="1px" style="width: 600px">
        <tr>
            <th style="width: 200px; text-align: center;">Employee ID</th>
            <th style="width: 200px; text-align: center;">Project ID</th>
            <th style="width: 200px; text-align: center;">Days worked on project</th>
        </tr>
        <tr style="text-align: center;" th:each="emp : ${staff}">
            <td th:text="${emp.employeeId}"/>
            <td th:text="${emp.projectId}"/>
            <td th:text="${emp.projectDuration}"/>
        </tr>
    </table>
<p th:if="${#lists.isEmpty(staff)}">No employees worked together on the same project.</p>

</body>
</html>