<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<div>
    <h1>Staff Management</h1>
</div>
<nav>
    <ul>
        <form th:action="@{/}" th:object="${staff}" method="post">
            <div>
                <label>Employee ID</label>
                <div>
                    <input type="number" min="0" th:field="*{employeeId}">
                    <div th:if="${#fields.hasErrors('employeeId')}">
                        <span th:each="error : ${#fields.errors('employeeId')}" th:text="${error}"></span>
                    </div>
                </div>
            </div>
            <p></p>
            <div>
                <label>Project ID</label>
                <div>
                    <input type="number" min="0" th:field="*{projectId}">
                    <div th:if="${#fields.hasErrors('projectId')}">
                        <span th:each="error : ${#fields.errors('projectId')}" th:text="${error}"></span>
                    </div>
                </div>
            </div>
            <p></p>
            <div>
                <label>Joined project</label>
                <div>
                    <input type="datetime-local" th:field="*{projectStartedAt}">
                    <div th:if="${#fields.hasErrors('projectStartedAt')}">
                        <span th:each="error : ${#fields.errors('projectStartedAt')}" th:text="${error}"></span>
                    </div>
                </div>
            </div>
            <p></p>
            <div>
                <label>Left project</label>
                <div>
                    <input type="datetime-local" th:field="*{projectFinishedAt}">
                    <p>If you do not enter "left project" it will automatically make it to today!</p>
                </div>
            </div>
            <p></p>
            <div>
                <input type="submit" value="Assign project">
            </div>
        </form>
    </ul>
</nav>
<div>
    <ul>
        <table border="1px" style="width: 1000px">
            <tr>
                <th style="width: 200px; text-align: center;">Employee ID</th>
                <th style="width: 200px; text-align: center;">Project ID</th>
                <th style="width: 200px; text-align: center;">Joined project at</th>
                <th style="width: 200px; text-align: center;">Left project at</th>
                <th style="width: 200px; text-align: center;">Days worked on project</th>
            </tr>
            <tr style="text-align: center;" th:each="st : ${Staff}">
                <td>
                    <span th:text="${st.employeeId}"></span>
                </td>
                <td>
                    <span th:text="${st.projectId}"></span>
                </td>
                <td>
                    <span th:text="${st.projectStartedAt}"></span>
                </td>
                <td>
                    <span th:text="${st.projectFinishedAt}"></span>
                </td>
                <td>
                    <span th:text="${st.projectDuration}"></span>
                </td>
                <td>
                    <a th:href="@{/delete/{id} (id = ${st.id})}">Delete</a>
                </td>
            </tr>
        </table>
        <a th:href="@{/project}">Filter by project</a>
    </ul>
</div>
</body>
</html>