<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<div>
    <h1>Staff Management</h1>
</div>
<nav>
    <ul>
        <form th:action="@{/}" th:object="${employee}" method="post">
            <div>
                <label>Employee ID</label>
                <div>
                    <input type="number" min="0" th:field="*{id}">
                    <div th:if="${#fields.hasErrors('id')}">
                        <span th:each="error : ${#fields.errors('projectId')}" th:texh="${error}">Can not be null!</span>
                    </div>
                </div>
            </div>
            <p></p>
            <div>
                <label>Project ID</label>
                <div>
                    <input type="number" min="0" th:field="*{projectId}">
                    <div th:if="${#fields.hasErrors('projectId')}">
                        <span th:each="error : ${#fields.errors('projectId')}" th:texh="${error}">Can not be zero!</span>
                    </div>
                </div>
            </div>
            <p></p>
            <div>
                <label>Joined project</label>
                <div>
                    <input type="datetime-local" th:field="*{projectStartedAt}">
                    <div th:if="${#fields.hasErrors('projectStartedAt')}">
                        <span th:each="error : ${#fields.errors('projectStartedAt')}" th:texh="${error}">Can not be null!</span>
                    </div>
                </div>
            </div>
            <p></p>
            <div>
                <label>Left project</label>
                <div>
                    <input type="datetime-local" th:field="*{projectFinishedAt}">
                    <p>If you do not enter "left project" it will automatically make it to today!</p>
                </div>
            </div>
            <p></p>
            <div>
                <input type="submit" value="Assign project">
            </div>
        </form>
    </ul>
</nav>
<div>
    <ul>
        <table border="1px" style="width: 1000px">
            <tr>
                <th style="width: 200px; text-align: center;">Employee ID</th>
                <th style="width: 200px; text-align: center;">Project ID</th>
                <th style="width: 200px; text-align: center;">Joined project at</th>
                <th style="width: 200px; text-align: center;">Left project at</th>
                <th style="width: 200px; text-align: center;">Days worked on project</th>
            </tr>
            <tr style="text-align: center;" th:each="emp : ${employees}">
                <td>
                    <span th:text="${emp.id}"></span>
                </td>
                <td>
                    <span th:text="${emp.projectId}"></span>
                </td>
                <td>
                    <span th:text="${emp.projectStartedAt}"></span>
                </td>
                <td>
                    <span th:text="${emp.projectFinishedAt}"></span>
                </td>
                <td>
                    <span th:text="${emp.projectDuration}"></span>
                </td>
                <td>
                    <a th:href="@{/delete/{id} (id = ${emp.id})}">Delete</a>
                </td>
            </tr>
        </table>
    </ul>
</div>
</body>
</html>